
 

body {
background-color: #000000 ; 
text-align: center;
}


h1 {
	color: white; 
text-align: center; 
font-family: arial;
}
h2 {
	padding 
	color: black;
	text-align: center;
	font-family: aarial;
	
}




p{
color: white;
padding: 0px; 
text-align: center;
font-size: 20px; 
font-family: arial;
}


img {
	padding: 50px; 
	text-align: center;
}

li {
	display: inline;
	margin-right: 10px
	
}

a:link {
	text-decoration: none; 
	color: rgb(255,185,58);
}
a:visited{
	text-decoration: none;
	color: red; 
}

a:hover {
	text-decoration: underline; 
	color:purple;
}


a:active {
    color: blue;
} 


.storyimg {
	margin: auto;
}
